@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  display: flex;
  justify-content: space-between;
  padding: 26px 36px;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #000;
  background-image: url(../images/bg_horizontal-1920px.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.main-content {
  font-size: calc(5.5px + (100vw - 800px) / 120 + (2 * 1vh - 1vw) * 0.5);
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  align-items: center;
}

.main-logo {
  width: 25em;
  margin-bottom: 1.75vh;
}

.title {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 5em;
  line-height: 1;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.subtitle {
  margin: 0 0 1.5vh;
  padding: 7px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #d5d257;
  background-color: #000;
}

.text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #fffdaf;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2.8vh;
}

.button {
  width: 14em;
  height: 3em;
  background-color: #8ba430;
  border-radius: 12px;
  border: none;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:first-child {
  margin-right: 1.5em;
}

.button:hover {
  background-color: #a0bd3a;
}

.button:active {
  background-color: #bad654;
}

.notice {
  position: absolute;
  right: 25px;
  top: 25px;
}

.notice img {
  width: calc(35px + 2vw);
}

.extra-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.links__title {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #d5d257;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
}

.links__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.links img {
  width: 36px;
  margin-right: 7px;
  transition: opacity 0.2s ease;
}

.links img:last-child {
  margin-right: 0px;
}

.links img:hover {
  opacity: 0.8;
}

.footer {
  display: flex;
  align-items: center;
}

.footer p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 21px;
  font-size: 1.3vw;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #d5d257;
  text-transform: uppercase;
  margin: 0 15px 0px 0;
  padding: 0;
}

.footer img {
  transition: opacity 0.2s ease;
}

.footer img:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1180px) {
  .page {
    padding: 16px 20px;
  }

  .main-logo {
    width: 24em;
  }

  .subtitle {
    font-size: 2.3em;
  }

  .title {
    font-size: 4.8em;
  }

  .text {
    font-size: 1.5em;
  }

  .notice {
    right: 20px;
    top: 20px;
  }
  
  .notice img {
    width: calc(23px + 3vw);
  }
}

@media screen and (max-width: 1080px) and (orientation: portrait) {
  .page {
    background-image: url(../images/bg_mobile-828px.jpg);
    background-size: contain;
    background-position: 0px 140px;
    padding-top: 10px;
    padding-bottom: 60px;
    justify-content: center;
  }

  .main-content {
    width: 100%;
    max-width: 100%;
  }

  .main-logo {
    width: calc(200px + 10vw);
    margin-bottom: 83vw;
  }

  .title {
    text-align: center;
    font-size: 42px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    padding: 0;
    margin-bottom: 22px;
  }

  .text-wrapper {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
  }

  .button-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .button {
    width: 200px;
    height: 50px;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .button:first-child {
    margin-right: 0;
  }

  .notice {
    left: 11px;
    top: 11px;
  }

  .notice img {
    width: 41px;
  }

  .extra-content {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .page {
    background-image: url(../images/bg_mobile-500px.jpg);
    background-position: 0px 160px;
    padding-bottom: 40px;
  }

  .main-content {
    max-width: 100%;
  }

  .title {
    font-size: 10vw;
  }

  .text-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
